[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
report = 'python3 report.py'
password = 'python3 password.py'
toboggan = 'python3 toboggan.py'
passport = 'python3 passport.py'
boarding = 'python3 boarding.py'
